extends layout

block content
  header
    h1 1号店原型上传工具

  .mainPage
    .uploadBox
      form#form(action="/upload",method="POST")
        input#upload.custom-file-input(type="file",accept="application/zip",name="file")
    .popout(style="display:none")
      .close
      .content
