extends layout

block content
  header
    h1 1号店原型上传工具

  .mainPage
    .uploadBox
      form(action="/upload",method="POST")
        input#upload.custom-file-input(type="file",accept="application/zip",name="file")
    .Lists
      ul
        li asdasd

