*{margin: 0;padding: 0;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f3f3f3;
}

a {
  color: #00B7FF;
}

header{
    height: 44px;
    background: #ff2222;
    color: #fff;
    line-height: 44px;
}

h1{
    font-size: 18px; 
    font-weight: normal;
    padding-left: 20px;
}

ul,li{
    list-style: none;
}

.custom-file-input{
    width: 200px;
    outline: none;
    color: #333;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '点击上传原型（.zip格式）';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  width: 200px;
  -webkit-box-sizing: border-box;
  text-align: center;
}
.custom-file-input:hover::before {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.uploadBox{
    margin: 30px;
    text-align: center;
}

.Lists{
    padding: 20px; 
}

.Lists li{
    border-bottom: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    display: flex;
}

.Lists li input[type="text"]{
    -webkit-appearance:none;
    border:none;
    outline: none;
    display: block;
    width: 500px
}

.popout{
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    color: #fff;
    height: 100%;
    top: 0;
    left: 0;
}

.popout .close{
    position: absolute;
    top: 20px;
    right: 10px;
    background: red;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
}

.popout .close:after{
    content : "X";
}

.popout .content{
    margin: 100px;
}


